<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warn">
      <AppenderRef ref="Console"/>
    </Root>

    <Logger name="utils" level="ALL"/>
    <!--<Logger name="net.homecredit.cch.eventValidation.service.ValidateContactJson" level="DEBUG"/>-->
    <!--<Logger name="net.homecredit.cch.service.AcceptContact" level="DEBUG"/>-->
    <!--<Logger name="org.springframework" level="ALL"/>-->

    <!--<Logger name="org.hibernate" level="TRACE"/>-->
  </Loggers>
</Configuration>
